@use './main.scss' as *;

.postList {
  margin-bottom: 30px;
  color: $text;
}

.postItem {
  margin-bottom: 16px;
}

.postTitleLink {
  color: #6ea4ff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: #97bfff;
    text-decoration: underline;
  }
}

.postMeta {
  font-size: 0.93em;
  color: #8ea3bb;
  margin-left: 8px;
}
