@use './main.scss' as *;

.scheduleList {
  background: #23283a;
  border-radius: $radius;
  padding: 26px 22px;
  margin: 0 auto 30px auto;
  max-width: 500px;
  box-shadow: 0 8px 32px #0005;
}

h3 {
  color: $primary;
  font-size: 1.25em;
  font-weight: 900;
  margin-bottom: 16px;
}

.scheduleItem {
  display: flex;
  flex-direction: column;
  background: #22263a;
  border-radius: $radius;
  margin-bottom: 16px;
  padding: 18px;
  position: relative;
  transition: box-shadow 0.13s;
  cursor: pointer;
  box-shadow: 0 2px 8px #181c3311;

  &:hover {
    box-shadow: 0 2px 18px #1b216611;
    background: #262a3e;
  }
}

.thumb {
  width: 74px;
  height: 74px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 9px;
  background: #191c25;
}

.title {
  font-size: 1.19em;
  font-weight: bold;
  color: #b4bcff;
  margin-bottom: 3px;
}

.meta {
  font-size: 0.99em;
  color: #c3c3e5;
  margin-bottom: 6px;
}

.desc {
  color: #eeeeff;
  font-size: 1.08em;
  margin-top: 3px;
}
